<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>

{% for day, cities in result %}

    <h2>Day {{ day }}</h2>

    {% for cityName, equipments in cities %}

        <b>City : {{ cityName }}</b> <br> <br>

        {% for equipmentName, stockDemands in equipments %}
            {{ equipmentName }}

            {% for key, stockDemand in stockDemands %}
                {  {{ key }} : {{ stockDemand }} }
            {% endfor %}
            <br>

        {% endfor %}
        <br>
    {% endfor %}
    <hr>
{% endfor %}

</body>
</html>
